*{
    box-sizing: border-box;
}


body, html {
    overflow-x: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0;
    margin: 0;
    // background-color: #081108;
    background: linear-gradient(90deg, #0a170a, #081108, #020a02, #000000);
    background-size: 100%;
}

nav{
    background: linear-gradient(90deg, #379137, #081108, #020a02, #000000);
    background-size: 130%;
    width: 99vw;
    height: 20px;
}

.topo{
    width: 95vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.hello{
    text-align: center;
    font-size: 25px;
    color: #379137;
    i{
        text-align: center;

        margin-left: 10px;
        margin-right: 10px;
        animation: spiner 4s infinite linear;
    }
    h4{
        text-align: center;
    }
}

@keyframes spiner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}
h1{
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
}
h2{
    text-align: center;
    color: #3114d8;
}
h3{
    color: white;
    line-height: 28px;
}

.green{
    color: #36d036;

}

.flecha {
    margin-top: 10px;
    height: 200px;
    .bounce{
        animation: bouncing 1s infinite linear;
    }
}



@keyframes bouncing{
    from {
        height: 100%;
        margin-top: 0;
    }
    50% {
        height: 50%;
        margin-top: 100%;
    }
    to {
        height: 75%;
        margin-top: 0;
    }
}

.habilidades{
    text-align: justify;
    
    .titulo{
        margin-left: 20px;
        margin-right: 20px;
        text-align: right;
    }
    .especifico{
        margin-left: 20px;
    }

    h5{
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        color: white;
        font-size: 30px;

    }
    .green{
        color: #36d036;
    }
    h6{
        margin-top: 10px;
        font-size: 21px;
        color: rgb(113, 111, 107);
        padding-bottom: 10px;
        height: 30%;
        border-bottom: 1px solid rgb(113, 111, 107);
    }
    span{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 5px;
        margin-right: -45px;
        padding: 0;
        color: rgb(99, 99, 199);
        font-size: 45px;
        text-align: justify;

    }
    img{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 30vw;
    }
}
.estudos{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
table{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 20px;
    // margin-left: 20px;
    margin-right: 20px;
    height: 520px;
    th{
        border-bottom: 1px solid white;
        padding: 0px;
        font-size: 25px;
        line-height: 25px;
        text-align: left;
        height: 150px;

        span{
            margin-top: -10px;
            font-size: 20px;
        }
        .escola{
            color: #3114d8;
            font-size: 15px;
        }
    }
    td{
        align-self: baseline;
        margin-bottom: 0;
        line-height: 20px;
        // padding: 5px;
    }
}


.razoes{
    width: 100vw;
    margin: 0;
    padding: 0;
    h3{
        color: #3114d8;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
    }
    .motivos{
        width: 100%;
        margin-right: 30px;
        .motivo{
            width: 30vw;
            list-style-type: none;
            margin-bottom: 10px;
            margin-left: 0;
            margin-right: 0;
            padding: 0;
            i{
                font-size: 60px;
                margin: 15px;
                color: #36d036;
            }
            h4{
                font-size: 20px;
                color: white;
            }
            h5{
                font-size: 15px;
                color: rgb(140, 140, 140);
            }
        }
    }
}
footer{
    .foot-head{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    h3{
        font-size: 35px;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    h4{
        color: #3114d8;
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 0;
    }
    h5{
        color: white;
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        a{
            text-decoration: none;
            color: #3114d8;
        }
    }
}